@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #2684ba;
    --primary-dark: #000;
    --secondary: #db9e06;
    --secondary-dark: #fff;
    --black: #151418;
    --gray: #707e69;
    --white: #fcf7f8;
}

body {
    color: var(--black);
    background-color: var(--white);
    margin: 0;
}

header {
    background-color: var(--primary);
    width: 100%;
    padding: 1rem;

    font-family: Inter Tight, sans-serif;
}