/* debug */
/* *{border: solid red 1px} */

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary: #2684ba;
    --secondary: #f9bd24;
    --black: #151418;
    --dark-græy: #4f4d50;
    --græy: #898688;
    --light-græy: #c3c0c1;
    --white: #fcf7f8;

    /* random variables; defaults set here */
    /* script.js sets these all to Math.random() * unit */
    --random-time: 0.4s;
    --random-rotation: 23deg;
    --random-length: 1.3em;

    /* --header-height: 30vh; */
    /* css does not like this being used as a constant, not sure why */
}

body {
    color: var(--black);
    background-color: var(--white);
    margin: 0;
    font-family:
        Inter Tight,
        sans-serif;
}

* {
    transition: 0.2s;
}

main p {
    margin-bottom: 0.0625in;
}

main a {
    color: var(--primary);
}

header {
    background-color: var(--primary);
    width: 100%;
    height: calc(100vh / 3);
}

main {
    /* font-size: 10/13pt; */
    font-size: 10pt;
    line-height: 13pt;
    margin: 0 0.15in;
}

footer {
    margin: 0 0.15in;
    float: bottom;
}

.flex-container {
    height: calc(100vh / 3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

div.me-container {
    margin: calc(100vw / 18);
}

div.me-img-container {
    height: calc((2 / 3) * (100vh / 3));
    width: calc((2 / 3) * (100vh / 3));
    margin: auto;
    border-radius: 100%;
    border: 3pt solid var(--black);
}

div.me-img-container > img {
    height: calc((2 / 3) * (100vh / 3)) !important;
    width: calc((2 / 3) * (100vh / 3)) !important;
    /* float: center; */
    /* height: inherit; */
    border-radius: inherit;
}

div.me-container > .name-container {
    transform: translate(0, -1.5em);

    /* height: calc((100vh/3)/9); */
    font-size: calc((100vh / 3) / 18);

    border-radius: 27pt;
    background-color: var(--secondary);
    border: 3pt solid var(--black);
    text-align: center;
}

div.name-container > h1 {
    margin: 3pt 10pt;
}

div.vr {
    height: calc((2 / 3) * (100vh / 3));
    width: 0 !important;
    border: 2px solid var(--white);
}

div.contact {
    margin: auto;
    margin-left: 0;
    padding-left: calc(100vw / 36);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.contact > div > div.phone-icons,
div.contact > div > img {
    /* border: 1px solid red; */
    width: calc((100vh / 3) / 9);
    height: calc((100vh / 3) / 9);
}

div.contact > div {
    display: flex;
    align-items: center;
    margin: calc((1 / 36) * (100vh / 3)) 0;
}

div.dr {
    position: relative;
    /* width: calc((100vh/3)/9); */ /* - inherited */
    height: 0;
    border: 0.5pt solid var(--white);
    transform: rotate(-45deg);
}

.phone-icons > img {
    height: calc((100vh / 3) / 18);
}

.phone-icons > img[alt='sms icon'] {
    transform: translate(0, 0.5pt);
}

.phone-icons > img[alt='call icon'] {
    margin-left: calc((100vh / 3) / 18);

    transform: translate(0, -0.5pt);
}

.contact a {
    font-size: calc(2 * ((100vh / 3) / 9) / 3);
    color: var(--white);
    text-decoration: none;
    margin-left: calc(2 * (1 / 36) * (100vh / 3));
}

/* toggle switch thingies */
div.mode-container {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-right: 1em;

    font-size: calc(2 * ((100vh / 3) / 9) / 3);
    color: var(--white);
}

div.mode {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

div.mode p {
    margin: 1ex;
    text-align: right;
}

div.switch {
    height: calc((100vh / 3) / 9);
    width: calc(2 * (100vh / 3) / 9);

    display: flex;
    align-items: center;

    /* this works perfectly and I don't care about changing it lol */
    border-radius: 1em;

    border: 2pt solid var(--dark-græy);
}

div.switch.off {
    background-color: var(--light-græy);
}

div.switch.on {
    background-color: var(--secondary);
}

div.switch.on > .head {
    transform: translate(calc((100vh / 3) / 9));
}

div.head {
    height: inherit;
    width: calc((100vh / 3) / 9);

    background-color: var(--white);
    /* border: 3pt solid var(--light-græy); */
    border-radius: 100%;
}

/* fun animations */

body.fun .contact a,
body.fun div.name-container > h1 {
    transition: calc(0.5 * var(--random-time) + 0.5s);
}

body.fun div.name-container > h1:hover {
    letter-spacing: 1pt;
    font-weight: 100;
}

body.fun .contact a:hover {
    color: red;
}

body.nerd * {
    font-family: 'Roboto Mono', cursive;
}
